# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales (Virtual Environments)
# Es vital no subir la carpeta del entorno para que el proyecto sea portable
venv/

# Logs del sistema y de Django
*.log
local_settings.py

.env

*.mdb

media/imports/